{% extends 'base.html.twig' %}

{% block title %}ProfessionalExperiences index{% endblock %}

{% block body %}
    <h1>ProfessionalExperiences index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for professional_experience in professional_experiences %}
            <tr>
                <td>{{ professional_experience.id }}</td>
                <td>{{ professional_experience.name }}</td>
                <td>{{ professional_experience.description }}</td>
                <td>{{ professional_experience.date }}</td>
                <td>
                    <a href="{{ path('proffessional_experiences_show', {'id': professional_experience.id}) }}">show</a>
                    <a href="{{ path('proffessional_experiences_edit', {'id': professional_experience.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('proffessional_experiences_new') }}">Create new</a>
{% endblock %}
